.container{
    background-color: aliceblue;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
}

.inbox{
    background-color: aliceblue;
}

.topnav{
    overflow: hidden;
    background-color: aliceblue;
}

.topnav a{
    float: right;
    display: block;
    color: navy;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: orange;
}

.topnav a:hover{
    background-color: brown;
    color: white;
}

.topnav a.active{
    background-color: steelblue;
    color: white;
}

.topnav input[type=text]{
    float: left;
    padding: 6px;
    border: black;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}
marquee{
    direction: alternate;
    color: red;
    background-color: saddlebrown;
}

.centre{
    border-radius: 50px 50px 50px 50px;
    max-height: 200px;
}
.row{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 20 -16px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}
.col-75{
    -ms-flex: 75%;
    flex: 75%;
}
.col-50{
  -ms-flex: 50%;
  flex: 50%;
  text-align: center;
    background-color: lightcyan;
}
.col-25{
    -ms-flex: 25%;
    flex: 25%;
}
.centre{
    margin-left: 25%;
    margin-right: 25%;
}
h3{
    text-align: center;
    word-wrap: break-words;
}
